@import "util/variables";

.hero-image {
  width: 100%;
  height: calc(100vh - #{$navheight});

  .hero-inner {

    height: 100%;
    display: flex;
    flex-direction: row-reverse;

    .text {
      margin-right: 50px;
      transition: opacity 1.5s;
      opacity: 0;
      align-self: center;
      color: white;
      min-height: 170px;
      width: 590px;
      padding: 1em;
      border-radius: 1em;
      background: rgba(0, 0, 0, 0.5);

      h2 {
        margin: 0;
        font-size: 2.2em;
      }
      p {
        font-size: 1.1em;
      }
    }

    .bottom-nav {
      align-self: flex-end;
      .arrow-down {
        width: 0;
        height: 0;
        border-left: 3rem solid transparent;
        border-right: 3rem solid transparent;
        border-top: 3rem solid rgba(255,255,255,0.9);
        &:hover {
          border-top: 3rem solid rgba(255,255,255,0.7);
        }
      }
      margin-bottom:10px;
    }

  }
}

@media screen and (max-width: 45em) {
  .hero-image .hero-inner .text {
    margin-right: 0;
    width: 100%;
  }
}

.hero-image-one {
  //background: url(../images/frontpage-tool-text.png) no-repeat top center;
  background: url(../images/frontpage-planning-wood.png) no-repeat top center;
  background-size: cover;
}

section.bullet-points {
  padding: 5rem 0;
  min-height: 30rem;

  .text-column {
    width: 65%;
  }

  h1 {
    display: inline-block;
    border-bottom: solid #000 5px;
    margin: 0;
    padding: 20px 0;
  }
}

section.inverted-background-skew {
  padding: 15rem 0;
  min-height: 40rem;

  /* second edition. recreating shapes*/
  clip-path: polygon(100% 14%, 100% 94%, 83% 100%, 0 92%, 0 16%, 76% 0);
}

section.our-work, section.who-are-we {
  margin: 10rem 0;
  min-height: 400px;
}

section.who-are-we {
  clip-path: polygon(13% 0, 100% 6%, 100% 88%, 35% 100%, 0 90%, 0 7%);
  padding: 10rem 0;
  background: #1f1f1f;
  color: white;

  .card .card-image {
    border-radius: 300px;
    img {
      transform: none;
    }

    &:hover {
      img {
        transform: none;
      }
    }
  }
  text-align:center;
}

section.contact-us {
  margin: 0 0 10rem 0;

  form {
    .form-group {

      margin: 10px 0;
      label {
        display:block;
        width: 100%;
        margin: 4px 0;
      }
      input, textarea {
        padding: 5px;
        width: 100%;
      }
    }
  }
}

