$arrowSize: 15px;
$arrowColor: rgba(255,255,255,0.98);

body.overlay-open  {
  overflow: hidden;
}

.modal.l-box {

  .modal-inner {
    display: flex;
    flex-direction: column;

    .top {
      position: absolute;
      z-index: 300;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 50px;
      padding-right: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    #close-gallery-btn {
      font-size: 2rem;
      background: none;
      border: none;
      color: #fff;
      &:after {
        content: '×';
      }
      &:hover {
        cursor: pointer;
      }
    }

    .gallery-navigation {
      position: absolute;
      z-index: 250;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .nav {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;

        &.hidden {
          opacity:0;
        }

        span {
          color: white;
          font-size: 18px;
          display: inline-block;
          cursor: pointer;
          width: 0;
          height: 0;
        }

        &.nav-left {
          padding-left: 0.2rem;
          span {
            border-top: $arrowSize solid transparent;
            border-bottom: $arrowSize solid transparent;
            border-right:$arrowSize solid $arrowColor;
          }
        }
        &.nav-right {
          text-align: right;
          padding-right: 0.2rem;
          display: flex;
          justify-content: flex-end;

          span {
            // arrow right
            border-top: $arrowSize solid transparent;
            border-bottom: $arrowSize solid transparent;
            border-left: $arrowSize solid $arrowColor;
          }
        }
      }
    }

    .content {
      display: flex;
      margin: auto;
      position: absolute;
      z-index: 200;
      padding: 2.2rem;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;

      .image-full {
        position: relative;
      }

      img {
        max-height: 100%;
        max-width: 100%;

        &:hover {
          cursor: pointer;
        }

        &.previous-image {
          opacity: 0;
        }
      }

      &.is-loading .gallery-navigation {
        display: none;
      }

      &.is-loading .loading {
        display: flex;
      }
    }

    .loading {

      -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
      -o-animation: fadein 4s; /* Opera < 12.1 */
      animation: fadein 4s;

      position: absolute;
      z-index: 90;
      top: 0;
      bottom: 0;
      width: 100%;
      color: #fff;
      display: none;
      align-items: center;
      justify-content: center;

      span {
        display: inline-block;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.45);
      }
    }

    .description {

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 500;
      background: rgba(0,0,0,0.9);
      color: white;
      padding: 10px;

      &.hidden {
        opacity: 0;
      }

      span {
        margin: 0;
        padding: 1rem 1rem;
      }
    }
  }


}

@media screen and (min-width: 76em) {
  .modal.l-box {

    .modal-inner {
        .gallery-navigation .nav span {
            font-size: 28px;
        }
    }

  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
