@import "variables";

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;

  &.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: opacity 0.3s;
  }
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center, .text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  min-width: 100px;
  color: #fff;
  text-decoration: none;
  background-color: $red;
  border-radius: 4px;
  border: none;

  &.btn-grey {
    background-color: $greyButtonBg;
  }

  &:hover{
    background-color: $darkerRed;
    color: $greyButtonBg;
  }

  &:focus {
    background-color: $darkerRed;
  }

}

.no-transparancy {
  opacity: 1 !important;
}

section h2.header-center {
  margin: 0 0 20px 0;
}

.justify-center {
  justify-content: center !important;
}


