// Colors
$red: #d9232e;
$text: #222;
$menuTextColor: #777;
$invertedBackground: #222 ;
$invertedTextColor: #fff ;
$darkBackground: #000;
$greyButtonBg: #a8a8a8;

// Custom variables :
$navheight: 84px;

// Widths
$lgcontentwidth: 1024px;

// Breakpoints:
$xs-min: 30;
$sm-min: 48;
$md-min: 64;
$lg-min: 75;
$screen-xs-min: var($xs-min)em;
$screen-sm-min: var($sm-min)em;
$screen-md-min: var($md-min)em;
$screen-lg-min: var($lg-min)em;


